streamlit==1.8.0
streamlit_option_menu
mysql-connector-python
numpy
pandas
os
PIL
scikit-learn
tensorflow
matplotlib
seaborn
cv2
concurrent.futures
scipy
kerasstreamlit-chat
streamlit_option_menu
openai
gdown
pymysql
streamlit-aggrid
streamlit-webrtc
opencv-python-headless
h5py
Pillow
requests