streamlit==1.8.0
streamlit_option_menu
mysql-connector-python
numpy
pandas
scikit-learn
tensorflow
matplotlib
seaborn
opencv-python
scipy
openai
gdown
pymysql
streamlit-aggrid
streamlit-webrtc
opencv-python-headless
h5py
Pillow
requests
beautifulsoup4
webdriver_manager
selenium
kiwisolver
joblib
google_play_scraper
cryptography
